body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    height: 100vh; /* Establece la altura del cuerpo al 100% de la altura visible */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-fluid.vh-85 {
    width: 85%; /* Establece el ancho del contenedor al 85% del ancho de la vista */
    height: 85vh; /* Establece la altura del contenedor al 85% de la altura visible */
    padding: 20px; /* Añade un relleno interior al contenedor */
    background-color: #ffffff; /* Color de fondo blanco para el contenedor */
    border-radius: 10px; /* Agrega bordes redondeados al contenedor */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra al contenedor */
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: none;
    width: 100%; /* Establece el ancho de la tarjeta al 100% dentro del contenedor */
}

.form-label {
    font-weight: bold;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-primary {
    background-color: #af13bd;
    border-color: #af13bd;
    color: #fff;
}

.btn-primary:hover {
    background-color: #e69500;
    border-color: #e69500;
}