<!DOCTYPE html> 
<html lang="es">
    <head>
        <meta charset="utf-8"/>
        <meta name="description" content="GESPYME"/>
        <title>GESPYME</title>
    </head>
    <body>
       <h1>Menu Administrador</h1>
       <div>
        <!-- Ponemos un botón para que pueda añadir un administrador o un manager -->
        <form action="{{url_for('/anadir_administrador_manager')}}" method="post">
            <input type="submit" value="Añadir Administrador/Manager" />
        </form>
       </div>
       <div>
        <!-- Ponemos un botón para que pueda editar un administrador o un manager -->
        <form action="{{url_for('/editar_admin_manager')}}" method="post">
            <input type="submit" value="Editar Administrador/Manager" />
        </form>
       </div>
       <div>
        <!-- Ponemos un botón para que pueda eliminar un administrador o un manager -->
        <form action="{{url_for('/eliminar_admin_manager')}}" method="post">
            <input type="submit" value="Eliminar Administrador/Manager" />
        </form>
       </div>
       <div>
        <!-- Ponemos un botón para que pueda gestinar las ausencias, pero el botón no estará disponible -->
        <form action="{{url_for('/incidencias')}}" method="post">
            <input type="submit" value="Gestionar incidencias" disabled>

        </form>
       </div>
       <!--Ponemos un botón para cerrar la sesión del usuario en cualquier momento-->
       <div>
        <form action="{{url_for('/index')}}" method="post">
            <input type="submit" value="Cerrar Sesión">
        </form>
       </div>
    </body>
</html>