<!DOCTYPE html> 
<html lang="es">
    <head>
        <meta charset="utf-8"/>
        <meta name="description" content="GESPYME"/>
        <title>GESPYME</title>
    </head>
    <body>
       <h1>Crear Administrador/Manager</h1>
       <div>
        <form>
            <label for="Nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre">

            <label for="Primer apellido">Primer apellido</label>
            <input type="text" name="primer_apellido" id="primer_apellido">

            <label for="Segundo_apellido">Segundo apellido</label>
            <input type="text" name="segundo_apellido" id="segundo_apellido">

            <label for="Telefono">Teléfono</label>
            <input type="number" name="telefono" id="telefono">

            <label for="Email">Email</label>
            <input type="email" name="email" id="email">

            <label for="horas_semanales">Horas semanales</label>
            <input type="number" name="horas_semanales">

            <label for="coste_hora">Coste hora</label>
            <input type="number" name="coste_hora">

            <label for="puesto_trabajo">Puesto de Trabajo</label>
            <input type="text" name="puesto_trabajo">

            
            <label for="contador_tareas">Contador de tareas</label>
            <input type="number" name="contador_taereas">

            <label for="contador_proyecto">Contador de proyectos</label>
            <input type="number" name="contador_proyecto">

            <label for="nombre_usuario">Usuario</label>
            <input type="text" name="nombre_usuario">

            <input type="password" name="contrasena" id="contrasena">
            <input type="password" name="contrasena" id="contrasena">

            <button>Salir</button>

            <button>Guardar</button>

            <button>Limpiar campos</button>
           </form>
       </div>
       
    </body>
</html>