<!DOCTYPE html> 
<html lang="es">
    <head>
        <meta charset="utf-8"/>
        <meta name="description" content="GESPYME"/>
        <title>GESPYME</title>
    </head>
    <body>
       <h1>Eliminar Administrador / Manager</h1>
    <!--Ponemos un botón para volver a la ventana anterior-->
    <div>
        <form action="{{url_for('/administrador')}}" method="post">
            <input type="submit" value="Cerrar">
        </form>
        </div>       
       <div>
        <form action="{{url_for('/index')}}" method="post">
            <input type="submit" value="Cerrar Sesión">
        </form>
    </div>
    </body>
</html>