<!DOCTYPE html> 
<html lang="es">
    <head>
        <meta charset="utf-8"/>
        <meta name="description" content="GESPYME"/>
        <title>GESPYME</title>
    </head>
    <body>
       <h1>Bienvenido al gestor de tareas</h1>
       <div>
        <form>
            <label for="nombre_usuario">Usuario</label>
            <input type="text" name="nombre_usuario" id="nombre_usuario">
            <label for="contrasena">Contraseña</label>
            <input type="password" name="contrasena" id="contrasena">
            <button>Login</button>
            <p>¿Olvidaste tu usuario/contraseña? Introduce tu email y te lo mandaremos de nuevo</p>
            <button>Enviar e-mail</button>
           </form>
       </div>
       
    </body>
</html>