<!DOCTYPE html> 
<html lang="es">
    <head>
        <meta charset="utf-8"/>
        <meta name="description" content="GESPYME"/>
        <title>GESPYME</title>
    </head>
    <body>
       <h1>Menu Manager empleados</h1>
        <!-- Ponemos un botón para crear un proyecto -->
       <div>
            <form action="{{url_for('/anadir_worker')}}" method="post">
                <input type="submit" value="Crear Empledo" />
            </form>
       </div>
        <!-- Ponemos un botón para Ver/ Editar un Empleado -->
       <div>
            <form action="{{url_for('/editar_worker')}}" method="post">
                <input type="submit" value="Ver/Editar Proyecto" />
            </form>
       </div>
        <!-- Ponemos un botón para Eliminar un Empledo -->
        <div>
            <form action="{{url_for('/eliminar_worker')}}" method="post">
                <input type="submit" value="Eliminar Proyecto" />
            </form>
        </div>
        <!--Ponemos un botón para volver a la ventana anterior-->
        <div>
            <form action="{{url_for('/manager')}}" method="post">
                <input type="submit" value="Cerrar">
            </form>
            </div>
        <!--Ponemos un botón para cerrar la sesión del usuario en cualquier momento-->
       <div>
            <form action="{{url_for('/index')}}" method="post">
                <input type="submit" value="Cerrar Sesión">
            </form>
       </div>
    </body>
</html>