<!DOCTYPE html> 
<html lang="es">
    <head>
        <meta charset="utf-8"/>
        <meta name="description" content="GESPYME"/>
        <title>GESPYME</title>
    </head>
    <body>
       <h1>Menu Manager</h1>
       <div>
        <!-- Ponemos un botón para acceder al menu de gestion de proyectos y tareas -->
        <form action="{{url_for('/manager_proyectos_tareas')}}" method="post">
            <input type="submit" value="Gestionar Proyectos y Tareas" />
        </form>
       </div>
       <div>
        <!-- Ponemos un botón para acceder al menu de gestion de empleados -->
        <form action="{{url_for('/manager_empleados')}}" method="post">
            <input type="submit" value="Gestionar Empleados" />
        </form>
       </div>
              <!--Ponemos un botón para cerrar la sesión del usuario en cualquier momento-->
       <div>
        <form action="{{url_for('/index')}}" method="post">
            <input type="submit" value="Cerrar Sesión">
        </form>
       </div>
    </body>
</html>