<!DOCTYPE html> 
<html lang="es">
    <head>
        <meta charset="utf-8"/>
        <meta name="description" content="GESPYME"/>
        <title>GESPYME</title>
    </head>
    <body>
       <h1>Menu Administrador</h1>
       <div>
            <button>Añadir Administrador / Manager</button>
            <button>Editar Administrador / Manager</button>
            <button>Borrar Administrador / Manager</button>
            <button>Gestionar Ausencias(a futuro)</button>    
       </div>
       <div>
        <button>Salir</button>
       </div>
    </body>
</html>