<!DOCTYPE html>
<html>
<head>
    <title>Todas las Tareas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
        <ul>
        <li><a href="{{ url_for('index') }}">Inicio</a></li>
        <li><a href="#0">Proyectos</a>
        </li>
        {% if current_user.is_authenticated %}
            {% if current_user.role == 'manager' %}
            <li>
                <a href="#">Consola</a>
                <ul>
                <li><a href="{{ url_for('cerrar_sesion') }}">Cerrar sesión</a></li>

                <li><a href="{{ url_for('registro') }}">Registrar usuarios</a></li>
                </ul>
            </li>
            <li><a href="#0">Usuarios</a>
                <ul>
                <li><a href="{{ url_for('usuarios', role='manager') }}">Manager</a></li>
                <li><a href="{{ url_for('usuarios', role='administrador') }}">Administrador</a></li>
                <li><a href="{{ url_for('usuarios', role='worker') }}">Trabajador</a></li>
                </ul>
            </li>
            {% endif %}
        
            <li>
                <a href="#">Usuario</a>
                <ul>
                
                    <li><a href="{{ url_for('cerrar_sesion') }}">Cerrar sesión</a></li>
                </ul>
            </li>
            
        {% else %}
        <li>
            <a href="#">Usuario</a>
            <ul>
                <li><a href="{{ url_for('inicio_sesion') }}">Inicio sesión</a></li>
            </ul>
        </li>
        {% endif %}
        </ul>
    </nav>
    
    </header>
    <h1>Todas las Tareas</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <!-- No se como poner esto... Preguntar a Alejandra-->
    <!--Ponemos un botón para cerrar la sesión del usuario en cualquier momento-->
    <!--Ponemos un botón para volver a la ventana anterior-->
    <div>
        <form action="{{url_for('/manager_proyectos_tareas')}}" method="post">
            <input type="submit" value="Cerrar">
        </form>
        </div>
    <div>
        <form action="{{url_for('/index')}}" method="post">
            <input type="submit" value="Cerrar Sesión">
        </form>
    </div>
</body>
</html>